<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="background">
        <div class="blurred-rectangle">
            <div class="center-box">
                <!-- box1 -->
                <div class="box">
                    <div class="w-div db">
                        <p>First Name:</p>
                        <p>Middle / Last Name:</p>
                        <p>Contact Number:</p>
                        <p>E-mail Address:</p>
                    </div>
                    <!-- box2 -->
                    <div class="input-div db">
                        <input placeholder="Enter your First Name" class="aa">
                        <input placeholder="Enter your Last Name"  class="aa">
                        <input placeholder="Enter your Phone Number"  class="aa">
                        <input placeholder="Enter your E-mail" class="aa">
                    </div>
                </div>
                <a class="btn-slice" href="">
                    <div class="top"><span>Proceed</span></div>
                    <div class="bottom"><span>Proceed</span></div>
                  </a>
            </div>
        </div>
    </div>
</body>
</html>